/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu de Navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0056b3;
    padding: 1rem;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.navbar h1 {
    font-size: 1.5rem;
    color: #fff;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #004494;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #003366;
}

/* Títulos */
.page-title {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.8rem;
    color: #0056b3;
    margin: 2rem 0;
}

.tarefas-container-wrapper .page-title {
    text-align: center;
    margin-bottom: 1rem;
}

/* Main */
.content {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* Tarefas */
.tarefas-container-wrapper {
    width: 80%;
    margin: 0 auto; /* Centraliza o conteúdo */
}

.tarefas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    gap: 1rem; /* Espaço entre os cards */
    width: 100%;
    margin: 0 auto; /* Centralizar horizontalmente */
}

/* Cards */
.card {
    background-color: #f2f2f2;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    break-inside: avoid; /* Evitar quebra de cards entre colunas */
}

.card p {
    margin: 0.5rem 0;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.card-actions {
    margin-top: 1rem;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 50%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

.modal-content .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* Botões */
.btn-link {
    display: inline-block;
    padding: 0.7rem 1rem;
    background-color: #0056b3;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn-link:hover {
    background-color: #004494;
}

/* Estilos para o formulário */
.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group button {
    background-color: #0056b3;
    color: #fff;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #004494;
}

.desativado {
    background-color: #ccc;
    color: #666;
    border: 1px solid #aaa;
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}